@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
:root {
--background-primary: #1a0b2e;
--background-secondary: #2f1c54;
--accent-primary: #9d4edd;
--accent-neon: #b249f8;
--text-glow: #e0aaff;
--text-primary: #ffffff;
--dark-accent: #240046;
--fox-pink: #ffc6e5;
--fox-pink-glow: #ffadd6;
--fox-orange: #ff9466;
--fox-white: #fff5f9;
}
body {
    @apply
      font-family: "Inter", sans-serif
      bg-background-primary text-text-primary;;
}
/* Global spacing */
.content-wrapper {
    @apply
      gap-3 px-4 py-2 my-1
      items-center rounded-lg
      transition-all hover:bg-accent-primary/10 hover:text-accent-neon
      flex
      hover:bg-accent-primary/10 hover:text-accent-neon;
}
.nav-link.active {
    @apply
      p-8 mb-8
      rounded-xl
      transition-all hover:border-accent-neon/40 hover:shadow-lg hover:shadow-accent-primary/10
      relative
      bg-gradient-card border border-accent-primary/20 hover:border-accent-neon/40 hover:shadow-lg hover:shadow-accent-primary/10;
}
.text-glow {
