* {
  cursor: url('/cursors/default.svg') 16 16, auto;
}

a, button, [role="button"], 
input[type="submit"], input[type="button"], 
select {
  cursor: url('/cursors/paw.svg') 16 16, pointer;
}

.loading {
  cursor: url('/cursors/tail-loading.svg') 16 16, progress;
}
